@media screen and (max-width: 991px ) {
    .box {
        margin: 0;
        text-align: center;
    }
    .pencet {
        padding: 1em;
        display: block;
    }
  }
ul li {
    margin: 0 1em;
}

.box {
    padding: 30px;        
    margin: 2em 0;
  }
.box2 {
    text-align: center;
    padding: 30px;
    margin: 10px 0;
  }
.img {
    height: 60%;
    width:90%;
  }
.cf1 {
    
    background: #ff4632;
  }

.p1 {
    font-weight: bold;
  }
.p2 {
    font-weight: bolder ;
    font-size: 3.5em;
  }
.p3 {
    font-weight: 600; 
  }
.p4 {
    font-size: 0.7em;
    font-weight: bold;
  }
.kanan {
    align-items: center;
    margin: auto 0;
  }
.pencet {
  font-weight: bold;
  border-radius: 2em ;
  padding: 1em 2.5em;
  background-color: black;
  color: white;
  text-decoration: none;
  }
  .pencet:hover {
  font-weight: bold;
  color: black;
  background-color: white;
  text-decoration: none;
  }
.bawah {
    
  padding: 30px;
  margin: 10px 0;
}
.ini {
  display: flex;
  flex-direction: row;
}
.bawah-kosong {
  background: white;
 }
.up {
    color: black;
 }
.cf2 {
  background: black;
 }
.p1-2 {
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
  color: #7f8c8d;
}
.p2-2 {
  font-size: 15px;
  text-decoration: none;
  color: white;
}
.p2-2:hover {
  text-decoration: none;
  color: #2ecc71;
}
.bawah2 {
  background: black;
}
.p1-3 {
  padding: 30px 4px;
  font-size: 12px;
  margin-left: 10px ;
  color: #b4b4b4;
}
.p1-3:hover {
  text-decoration: none;
  color:#2ecc71; ;
}

